{% extends 'base.html.twig' %}

{% block title %}Dragonfly Solutions{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div>
        {# TITLE GOES HERE!!!!!!#}
    </div>
    <div class="jumbotron">
        <h1 class="display-3">Welcome to Dragonfly Solutions</h1>
        <p class="lead">Your premiere Accounting Solutions Firm</p>
        <hr class="'my-4">
        <p>Custom tracking and invoicing solutions for Payouts and Project completions</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
        </p>
    </div>
</div>
{% endblock %}
