<div class="container">
    <div class="col-sm-2">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">API</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <p>
            Contact:
            <a href="https://twitter.com/wargfn" title="Twitter"><span class="fa fa-twitter"></span></a>
            <a href="https://reddit.com/user/Wargfn/" title="Reddit"><span class="fa fa-reddit"></span></a>
            <a href="mailto:wargfn@hotmail.com" title="E-mail"><span class="fa fa-envelope"></span></a>
        </p>
        <p>
            Please post bug reports and feature requests on <a href="https://github.com/Wargfn/dargonfly/issues">GitHub</a>.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            The information presented on this site, both literal and graphical, is copyrighted by Dragonfly Solutions
        </p>

    </div>
</div>